<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>445632562798-avt8lb46oc2ie3spplvfs7jvs0ikh24b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445632562798-avt8lb46oc2ie3spplvfs7jvs0ikh24b</string>
	<key>API_KEY</key>
	<string>AIzaSyBwR5BKo0iOntUxS5MMXqSlGwHosA5HqLI</string>
	<key>GCM_SENDER_ID</key>
	<string>445632562798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firquickstart</string>
	<key>PROJECT_ID</key>
	<string>firquickstart-cb70a</string>
	<key>STORAGE_BUCKET</key>
	<string>firquickstart-cb70a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:445632562798:ios:b52cc333c91d4676</string>
	<key>DATABASE_URL</key>
	<string>https://firquickstart-cb70a.firebaseio.com</string>
</dict>
</plist>